* {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.picture-explanation-container {
  display: flex;
}

#picture {
  width: 100%;
  margin-right: 1rem;
  margin-top: 1rem;
}

#explanation {
  letter-spacing: 0px;
  line-height: 20px;
  margin-top: 1rem;
}

/* The alert message box */
.alert {
  display: none;
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

img.loading {
  background: transparent url("./imgs/saturn.gif") no-repeat scroll center center;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  color: white;
  background-color: black;
  opacity: 50%;
  top: 65%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 30px;
  padding: auto;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: auto;
  cursor: pointer;
}

.container .btn:hover {
  color: black;
  background-color: white;
  opacity: 25%;
}

footer.footer {
  height: 300px;
  width: 100%;
  background-color: #333333;
}

p.copyright {
  color: rgb(0, 0, 0);
  line-height: 40px;
  font-size: 1em;
}