* {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.picture-explanation-container {
  display: flex;
}

#picture {
  width: 100%;
  margin-right: 1rem;
  margin-top: 1rem;
}

#explanation {
  letter-spacing: 0px;
  line-height: 20px;
  margin-top: 1rem;
}

/* The alert message box */
.alert {
  display: none;
  padding: 20px;
  background-color: #f44336;
  /* Red */
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

img.loading {
  background: transparent url("./imgs/saturn.gif") no-repeat scroll center center;
  background-size: 50%;
}


/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  cursor: pointer;
}

footer.footer {
  height: 300px;
  width: 100%;
  background-color: #333333;
}

p.copyright {
  color: rgb(0, 0, 0);
  line-height: 40px;
  font-size: 1em;
}

.profile-link {
  background: linear-gradient(to right,
      rgb(0, 73, 107),
      rgb(129, 35, 192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  text-align: center;
  font-size: 3vmin;
  line-height: 1.1;
  cursor: pointer;
  margin: 0;
  font-family: "Helvetica", ui-monospace, monospace;
  padding: 0;
  border: none;
  margin-bottom: 10px;
}

.video-player {
  margin: 0 auto
}

.background-image {
  position: absolute;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url('');
  background-position: center;
  background-color: black;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  background-color: rgb(59, 59, 59);
    box-shadow: 0 0 5px 10px rgb(59, 59, 59);
}

.content {
  position: relative;
  margin: 0 auto;
  z-index: 9999;
}

